In [14]:
import pandas as pd
data = pd.read_csv('airlines_data_part.csv')
data.head(50)

          passenger_name  day  month  departure_city    arrival_city     sales
0   ALEKSANDRA KUZNECOVA   21      6          Moscow       Astrakhan   52000.0
1   ALEKSANDRA KUZNECOVA   21      6       Astrakhan          Moscow   52000.0
2         VIKTOR BORISOV   21      6          Moscow       Astrakhan   52000.0
3         VIKTOR BORISOV   21      6       Astrakhan          Moscow   52000.0
4      LYUDMILA POTAPOVA   21      6      Khabarovsk          Moscow  178800.0
5      LYUDMILA POTAPOVA   21      6     Novosibirsk          Moscow  178800.0
6      LYUDMILA POTAPOVA   21      6          Moscow     Novosibirsk  178800.0
7      LYUDMILA POTAPOVA   21      6          Moscow      Khabarovsk  178800.0
8      MAKSIM KUDRYASHOV   21      6     Novosibirsk            Perm  211100.0
9      MAKSIM KUDRYASHOV   21      6          Moscow            Perm  211100.0
10     MAKSIM KUDRYASHOV   21      6            Perm          Moscow  211100.0
11     MAKSIM KUDRYASHOV   21      6            Perm     Novosibirsk  211100.0
12   TATYANA KOLESNIKOVA   21      6          Moscow            Perm  211100.0
13   TATYANA KOLESNIKOVA   21      6            Perm          Moscow  211100.0
14   TATYANA KOLESNIKOVA   21      6            Perm     Novosibirsk  211100.0
15   TATYANA KOLESNIKOVA   21      6     Novosibirsk            Perm  211100.0
16        VIKTOR DAVYDOV   21      6            Perm     Novosibirsk  211100.0
17        VIKTOR DAVYDOV   21      6            Perm          Moscow  211100.0
18        VIKTOR DAVYDOV   21      6     Novosibirsk            Perm  211100.0
19        VIKTOR DAVYDOV   21      6          Moscow            Perm  211100.0
20         VLADIMIR ILIN   22      6          Tambow  St. Petersburg   41600.0
21         VLADIMIR ILIN   22      6  St. Petersburg          Tambow   41600.0
22    VLADISLAV MELNIKOV   22      6          Tambow  St. Petersburg   41600.0
23    VLADISLAV MELNIKOV   22      6  St. Petersburg          Tambow   41600.0
24        EVGENIY VOLKOV   22      6       Krasnodar          Moscow   46300.0
25        EVGENIY VOLKOV   22      6          Moscow       Krasnodar   46300.0
26       LARISA NIKITINA   22      6   Yekaterinburg          Moscow   57500.0
27       LARISA NIKITINA   22      6          Moscow   Yekaterinburg   57500.0
28     ALEKSANDR TARASOV   22      6       Krasnodar     Kaliningrad   70100.0
29     ALEKSANDR TARASOV   22      6     Kaliningrad       Krasnodar   70100.0
30        YURIY KUZNECOV   22      6     Kaliningrad       Krasnodar   70100.0
31        YURIY KUZNECOV   22      6       Krasnodar     Kaliningrad   70100.0
32         NIKITA KOZLOV   22      6          Moscow      Khabarovsk  123000.0
33         NIKITA KOZLOV   22      6      Khabarovsk          Moscow  123000.0
34     TAMARA MIKHAYLOVA   22      6          Moscow       Volgograd  224300.0
35     TAMARA MIKHAYLOVA   22      6           Tomsk       Volgograd  224300.0
36     TAMARA MIKHAYLOVA   22      6       Volgograd          Moscow  224300.0
37     TAMARA MIKHAYLOVA   22      6       Volgograd           Tomsk  224300.0
38        ELENA BARANOVA   22      6       Volgograd           Tomsk  224300.0
39        ELENA BARANOVA   22      6       Volgograd          Moscow  224300.0
40        ELENA BARANOVA   22      6           Tomsk       Volgograd  224300.0
41        ELENA BARANOVA   22      6          Moscow       Volgograd  224300.0
42       ZINAIDA KOZLOVA   23      6  St. Petersburg          Moscow   12600.0
43       ZINAIDA KOZLOVA   23      6          Moscow  St. Petersburg   12600.0
44       ALEKSEY SEMENOV   23      6           Sochi          Moscow   27200.0
45       ALEKSEY SEMENOV   23      6          Moscow           Sochi   27200.0
46     TAMARA KONOVALOVA   23      6          Moscow           Sochi   28000.0
47     TAMARA KONOVALOVA   23      6           Sochi          Moscow   28000.0
48     ALEKSANDR NOVIKOV   23      6          Moscow          Samara   32700.0
49     ALEKSANDR NOVIKOV   23      6          Samara          Moscow   32700.0

In [21]:
data.columns #FINDING NAME OF ALL COLUMNS

Index(['passenger_name', 'day', 'month', 'departure_city', 'arrival_city',
       'sales'],
      dtype='object')

In [22]:
data.passenger_name #USING COLUMNS TO DISPLAY DATA

0          ALEKSANDRA KUZNECOVA
1          ALEKSANDRA KUZNECOVA
2                VIKTOR BORISOV
3                VIKTOR BORISOV
4             LYUDMILA POTAPOVA
                   ...
1016593        DMITRIY MELNIKOV
1016594           VASILIY FOMIN
1016595           VASILIY FOMIN
1016596         VALERIY MOISEEV
1016597         VALERIY MOISEEV
Name: passenger_name, Length: 1016598, dtype: object

In [23]:
data #DISPLAYING ALL THE DATA

,passenger_name,day,month,departure_city,arrival_city,sales
0,ALEKSANDRA KUZNECOVA,21,6,Moscow,Astrakhan,52000.0
1,ALEKSANDRA KUZNECOVA,21,6,Astrakhan,Moscow,52000.0
2,VIKTOR BORISOV,21,6,Moscow,Astrakhan,52000.0
3,VIKTOR BORISOV,21,6,Astrakhan,Moscow,52000.0
4,LYUDMILA POTAPOVA,21,6,Khabarovsk,Moscow,178800.0
...,...,...,...,...,...,...
1016593,DMITRIY MELNIKOV,15,8,Bryansk,Moscow,1185800.0
1016594,VASILIY FOMIN,15,8,Moscow,Bryansk,1185800.0
1016595,VASILIY FOMIN,15,8,Bryansk,Moscow,1185800.0
1016596,VALERIY MOISEEV,15,8,Moscow,Bryansk,1185800.0
1016597,VALERIY MOISEEV,15,8,Bryansk,Moscow,1185800.0

In [24]:
data1 = data[['passenger_name','day','arrival_city']] #DISPLAYING ONLY COLUMNS WE WANT

In [25]:
data1

               passenger_name  day arrival_city
0        ALEKSANDRA KUZNECOVA   21    Astrakhan
1        ALEKSANDRA KUZNECOVA   21       Moscow
2              VIKTOR BORISOV   21    Astrakhan
3              VIKTOR BORISOV   21       Moscow
4           LYUDMILA POTAPOVA   21       Moscow
...                       ...  ...          ...
1016593      DMITRIY MELNIKOV   15       Moscow
1016594         VASILIY FOMIN   15      Bryansk
1016595         VASILIY FOMIN   15       Moscow
1016596       VALERIY MOISEEV   15      Bryansk
1016597       VALERIY MOISEEV   15       Moscow

[1016598 rows x 3 columns]

In [27]:
data.tail(20) #DISPLAYING LAST 20 DATAS

,passenger_name,day,month,departure_city,arrival_city,sales
1016578,MARAT KAZAKOV,15,8,Moscow,Yuzhno-Sakhalinsk,797100.0
1016579,STEPAN IVANOV,15,8,Yuzhno-Sakhalinsk,Moscow,797100.0
1016580,STEPAN IVANOV,15,8,Moscow,Yuzhno-Sakhalinsk,797100.0
1016581,KSENIYA DANILOVA,15,8,Yuzhno-Sakhalinsk,Moscow,797100.0
1016582,KSENIYA DANILOVA,15,8,Moscow,Yuzhno-Sakhalinsk,797100.0
1016583,DMITRIY YAKOVLEV,15,8,Yuzhno-Sakhalinsk,Moscow,799200.0
1016584,DMITRIY YAKOVLEV,15,8,Moscow,Yuzhno-Sakhalinsk,799200.0
1016585,ZINAIDA KISELEVA,15,8,Yuzhno-Sakhalinsk,Moscow,799200.0
1016586,ZINAIDA KISELEVA,15,8,Moscow,Yuzhno-Sakhalinsk,799200.0
1016587,TATYANA TROFIMOVA,15,8,Moscow,Yuzhno-Sakhalinsk,799200.0
1016588,TATYANA TROFIMOVA,15,8,Yuzhno-Sakhalinsk,Moscow,799200.0
1016589,ALEKSANDR KUZNECOV,15,8,Moscow,Novosibirsk,820600.0
1016590,ALEKSANDR ZAYCEV,15,8,Moscow,Bryansk,1185800.0
1016591,ALEKSANDR ZAYCEV,15,8,Bryansk,Moscow,1185800.0
1016592,DMITRIY MELNIKOV,15,8,Moscow,Bryansk,1185800.0
1016593,DMITRIY MELNIKOV,15,8,Bryansk,Moscow,1185800.0
1016594,VASILIY FOMIN,15,8,Moscow,Bryansk,1185800.0
1016595,VASILIY FOMIN,15,8,Bryansk,Moscow,1185800.0
1016596,VALERIY MOISEEV,15,8,Moscow,Bryansk,1185800.0
1016597,VALERIY MOISEEV,15,8,Bryansk,Moscow,1185800.0

In [28]:
display(data.iloc[6]) #DISPLAYING DATA ONLY OF ROW 6

passenger_name    LYUDMILA POTAPOVA
day                              21
month                             6
departure_city               Moscow
arrival_city            Novosibirsk
sales                      178800.0
Name: 6, dtype: object

In [30]:
data.rank() #SHOWING THE RANK OF ALL THE DATAS

,passenger_name,day,month,departure_city,arrival_city,sales
0,59875.5,765100.0,13781.0,413791.5,18649.0,327726.0
1,59875.5,765100.0,13781.0,18253.5,411726.5,327726.0
2,899930.5,765100.0,13781.0,413791.5,18649.0,327726.0
3,899930.5,765100.0,13781.0,18253.5,411726.5,327726.0
4,476526.0,765100.0,13781.0,142368.0,411726.5,861407.5
...,...,...,...,...,...,...
1016593,230624.0,625435.5,844081.5,46869.0,411726.5,1016546.5
1016594,881419.0,625435.5,844081.5,413791.5,47538.5,1016546.5
1016595,881419.0,625435.5,844081.5,46869.0,411726.5,1016546.5
1016596,871331.5,625435.5,844081.5,413791.5,47538.5,1016546.5
1016597,871331.5,625435.5,844081.5,46869.0,411726.5,1016546.5

In [31]:
data.info

<bound method DataFrame.info of                passenger_name  day  month departure_city arrival_city  \
0        ALEKSANDRA KUZNECOVA   21      6         Moscow    Astrakhan
1        ALEKSANDRA KUZNECOVA   21      6      Astrakhan       Moscow
2              VIKTOR BORISOV   21      6         Moscow    Astrakhan
3              VIKTOR BORISOV   21      6      Astrakhan       Moscow
4           LYUDMILA POTAPOVA   21      6     Khabarovsk       Moscow
...                       ...  ...    ...            ...          ...
1016593      DMITRIY MELNIKOV   15      8        Bryansk       Moscow
1016594         VASILIY FOMIN   15      8         Moscow      Bryansk
1016595         VASILIY FOMIN   15      8        Bryansk       Moscow
1016596       VALERIY MOISEEV   15      8         Moscow      Bryansk
1016597       VALERIY MOISEEV   15      8        Bryansk       Moscow

             sales
0          52000.0
1          52000.0
2          52000.0
3          52000.0
4         178800.0
...            ...
1016593  1185800.0
1016594  1185800.0
1016595  1185800.0
1016596  1185800.0
1016597  1185800.0

[1016598 rows x 6 columns]>

In [32]:
#PYTHON WEBBROWSER MODULE

In [33]:
import webbrowser

In [36]:
website = 'https://pandas.pydata.org'
webbrowser.open(website)

True